<div class="project-card panel">
  <div class="project-overlay">
    <a href="javascript:void(0)" class="detail-info-link" data-title="Amsaan, ОАЕ" data-template="tmpl-amsaan">Дивитися детальну інформацію</a>
    <a href="https://amsaan.com/" target="_blank" rel="noopener">Перейти на сайт ↗</a>
  </div>
  <span class="tick tl"></span><span class="tick br"></span>
  <div class="project-img">
    <img src="./src/assets/images/projects/amsaan/main-preview.png" alt="">
  </div>
  <div class="project-content">
    <h3 class="project-org">Amsaan, ОАЕ</h3>
    <div class="project-link">
      <a href="https://amsaan.com/" target="_blank" rel="noopener">amsaan.com</a>
    </div>
    <p>Міжнародна платформа інклюзивних технологій для спілкування з нечуючими людьми: продукти, партнери,
      медіа-розділ, багатомовний інтерфейс (en/ar).</p>
    <div class="stack-tags"><span>Custom CMS</span><span>Інформаційний сайт</span><span>Багатомовний</span>
    </div>
  </div>
</div>

<template id="tmpl-amsaan">
  <div class="project-gallery-wrap">
    <div class="project-gallery" id="project-gallery">
      <a href="./src/assets/images/projects/amsaan/main.png" target="_blank"
        data-pswp-width="1600"
        data-pswp-height="805">
        <img src="./src/assets/images/projects/amsaan/main-thumb.png" alt="Головна">
        <span>Головна</span>
      </a>
      <a href="./src/assets/images/projects/amsaan/products.png" target="_blank"
        data-pswp-width="1600"
        data-pswp-height="2553">
        <img src="./src/assets/images/projects/amsaan/products-thumb.png" alt="Категорія">
        <span>Категорія</span>
      </a>
      <a href="./src/assets/images/projects/amsaan/product.png" target="_blank"
        data-pswp-width="1600"
        data-pswp-height="2200">
        <img src="./src/assets/images/projects/amsaan/product-thumb.png" alt="Категорія">
        <span>Категорія</span>
      </a>
      <a href="./src/assets/images/projects/amsaan/team.png" target="_blank"
        data-pswp-width="1600"
        data-pswp-height="1503">
        <img src="./src/assets/images/projects/amsaan/team-thumb.png" alt="Продукт">
        <span>Продукт</span>
      </a>
    </div>
  </div>
  <div class="modal-project-content">
    <div class="address">
      <a href="https://amsaan.com/" target="_blank" rel="noopener">amsaan.com</a>
    </div>
    <div class="description">
      <p>Міжнародна платформа інклюзивних технологій для спілкування з нечуючими людьми: продукти, партнери,
      медіа-розділ, багатомовний інтерфейс (en/ar).</p>
      <p>Сайт реалізований на основі кастомної системи керування вмістом.</p>
      <p>За рахунок кастомної логіки збірки й кешування статичних файлів, сайт має високу швидкість завантаження.</p>
    </div>
    <div class="tools">
      <h4>Інструменти та технології</h4>
      <ul>
        <li>Custom CMS</li>
        <li>PHP (OOP)</li>
        <li>PDO</li>
        <li>MySQL</li>
        <li>jQuery / Plugins</li>
        <li>HTML5 semantic / SCSS</li>
        <li>LTR / RTL</li>
        <li>JavaScript ES6+</li>
        <li>PixelPerfect</li>
        <li>Responsive Web Design</li>
        <li>Lazy Loading</li>
      </ul>
    </div>
  </div>
</template>