<div class="project-card panel">
  <div class="project-overlay">
    <a href="javascript:void(0)" class="detail-info-link" data-title="Egmont Aviation" data-template="tmpl-egmont">Дивитися детальну інформацію</a>
    <a href="https://egmontaviation.com/" target="_blank" rel="noopener">Перейти на сайт ↗</a>
  </div>
  <span class="tick tl"></span><span class="tick br"></span>
  <div class="project-img">
    <img src="./src/assets/images/projects/egmont/main-preview.png" alt="">
  </div>
  <div class="project-content">
    <h3 class="project-org">Egmont Aviation</h3>
    <div class="project-link">
      <a href="https://egmontaviation.com/" target="_blank" rel="noopener">egmontaviation.com</a>
    </div>
    <p>Провідна компанія з продажу авіаційної техніки, підготовки пілотів та виробництві літаків.</p>
    <div class="stack-tags"><span>Custom CMS</span><span>Каталог</span><span>Blog</span></div>
  </div>
</div>

<template id="tmpl-egmont">
  <div class="project-gallery-wrap">
    <div class="project-gallery" id="project-gallery">
      <a href="./src/assets/images/projects/egmont/main.png" target="_blank"
        data-pswp-width="1600"
        data-pswp-height="805">
        <img src="./src/assets/images/projects/egmont/main-thumb.png" alt="Головна">
        <span>Головна</span>
      </a>
      <a href="./src/assets/images/projects/egmont/category.png" target="_blank"
        data-pswp-width="1600"
        data-pswp-height="2888">
        <img src="./src/assets/images/projects/egmont/category-thumb.png" alt="Категорія">
        <span>Категорія</span>
      </a>
      <a href="./src/assets/images/projects/egmont/detail.png" target="_blank"
        data-pswp-width="1600"
        data-pswp-height="3601">
        <img src="./src/assets/images/projects/egmont/detail-thumb.png" alt="Продукт">
        <span>Продукт</span>
      </a>
    </div>
  </div>
  <div class="modal-project-content">
    <div class="address">
      <a href="https://egmontaviation.com/" target="_blank" rel="noopener">egmontaviation.com</a>
    </div>
    <div class="description">
      <p>Провідна компанія з продажу авіаційної техніки, підготовки пілотів та виробництві літаків.</p>
      <p>Сайт реалізований на основі кастомної системи керування вмістом.</p>
      <p>За рахунок кастомної логіки збірки й кешування статичних файлів, сайт має високу швидкість завантаження.</p>
    </div>
    <div class="tools">
      <h4>Інструменти та технології</h4>
      <ul>
        <li>Custom CMS</li>
        <li>PHP (OOP)</li>
        <li>PDO</li>
        <li>MySQL</li>
        <li>jQuery / Plugins</li>
        <li>HTML5 semantic / SCSS</li>
        <li>JavaScript ES6+</li>
        <li>PixelPerfect</li>
        <li>Responsive Web Design</li>
        <li>Lazy Loading</li>
      </ul>
    </div>
  </div>
</template>