<div class="project-card panel">
  <div class="project-overlay">
    <a href="javascript:void(0)" class="detail-info-link" data-title="Дорожня карта відновлення регіонів" data-template="tmpl-rebuild">Дивитися детальну інформацію</a>
    <a href="https://rebuild.shtab.net/" target="_blank" rel="noopener">Перейти на сайт ↗</a>
  </div>
  <span class="tick tl"></span><span class="tick br"></span>
  <div class="project-img">
    <img src="./src/assets/images/projects/rebuild/main-preview.png" alt="">
  </div>
  <div class="project-content">
    <h3 class="project-org">Дорожня карта відновлення регіонів</h3>
    <div class="project-link">
      <a href="https://rebuild.shtab.net/" target="_blank" rel="noopener">rebuild.shtab.net</a>
    </div>
    <p>«Карта відновлення» — інтерактивна мапа зруйнованих і відбудованих об'єктів в Україні для моніторингу
      коштів на відновлення.</p>
    <div class="stack-tags">
      <span>Vue</span><span>Nuxt</span><span>i18n</span><span>Leaflet</span><span>Аналітика</span>
    </div>
  </div>
</div>

<template id="tmpl-rebuild">
  <div class="project-gallery-wrap">
    <div class="project-gallery" id="project-gallery">
      <a href="./src/assets/images/projects/rebuild/main.png" target="_blank" data-pswp-width="1600"
        data-pswp-height="805">
        <img src="./src/assets/images/projects/rebuild/main-thumb.png" alt="Перший екран">
        <span>Перший екран</span>
      </a>
      <a href="./src/assets/images/projects/rebuild/main-full.png" target="_blank" data-pswp-width="1600"
        data-pswp-height="4340">
        <img src="./src/assets/images/projects/rebuild/main-full-thumb.png" alt="Сторінка">
        <span>Сторінка</span>
      </a>
      <a href="./src/assets/images/projects/rebuild/modal.png" target="_blank" data-pswp-width="1600"
        data-pswp-height="805">
        <img src="./src/assets/images/projects/rebuild/modal-thumb.png" alt="Модалка">
        <span>Модалка</span>
      </a>
    </div>
  </div>
  <div class="modal-project-content">
    <div class="address">
      <a href="https://rebuild.shtab.net/" target="_blank" rel="noopener">rebuild.shtab.net</a>
    </div>
    <div class="description">
      <p>«Дорожня карта відновлення регіонів» — Проблеми та рішення відновлення на прикладі трьох областей: Житомирської, Запорізької та Харківської.</p>
      <p>Статичний односторінковий сайт, з підтримкою англомовної версії.</p>
      <p>Інтеграція інтерактивної карти для адреси та використання API Telegram для відправки повідомлень.</p>
    </div>
    <div class="tools">
      <h4>Інструменти та технології</h4>
      <ul>
        <li>Gulp</li>
        <li>HTML5 semantic / SCSS</li>
        <li>JavaScript</li>
        <li>Leaflet</li>
        <li>Telegram API</li>
        <li>SEO</li>
        <li>LightSlider</li>
        <li>LazyLoading</li>
      </ul>
    </div>
  </div>
</template>