<div class="project-card panel">
  <div class="project-overlay">
    <a href="javascript:void(0)" class="detail-info-link" data-title="Карта відновлення" data-template="tmpl-reukraine">Дивитися детальну інформацію</a>
    <a href="https://reukraine.shtab.net/" target="_blank" rel="noopener">Перейти на сайт ↗</a>
  </div>
  <span class="tick tl"></span><span class="tick br"></span>
  <div class="project-img">
    <img src="./src/assets/images/projects/reukraine/main-preview.png" alt="">
  </div>
  <div class="project-content">
    <h3 class="project-org">Карта відновлення</h3>
    <div class="project-link">
      <a href="https://reukraine.shtab.net/" target="_blank" rel="noopener">reukraine.shtab.net</a>
    </div>
    <p>«Карта відновлення» — інтерактивна мапа зруйнованих і відбудованих об'єктів в Україні для моніторингу
      коштів на відновлення.</p>
    <div class="stack-tags">
      <span>Vue</span><span>Nuxt</span><span>i18n</span><span>Leaflet</span><span>Аналітика</span>
    </div>
  </div>
</div>

<template id="tmpl-reukraine">
  <div class="project-gallery-wrap">
    <div class="project-gallery" id="project-gallery">
      <a href="./src/assets/images/projects/reukraine/main.png" target="_blank" data-pswp-width="1600"
        data-pswp-height="805">
        <img src="./src/assets/images/projects/reukraine/main-thumb.png" alt="Перший екран">
        <span>Перший екран</span>
      </a>
      <a href="./src/assets/images/projects/reukraine/about.png" target="_blank" data-pswp-width="1600"
        data-pswp-height="2471">
        <img src="./src/assets/images/projects/reukraine/about-thumb.png" alt="Про нас">
        <span>Про нас</span>
      </a>
      <a href="./src/assets/images/projects/reukraine/object-detail.png" target="_blank" data-pswp-width="1600"
        data-pswp-height="1198">
        <img src="./src/assets/images/projects/reukraine/object-detail-thumb.png" alt="Об'єкт детально">
        <span>Об'єкт детально</span>
      </a>
    </div>
  </div>
  <div class="modal-project-content">
    <div class="address">
      <a href="https://reukraine.shtab.net/" target="_blank" rel="noopener">reukraine.shtab.net</a>
    </div>
    <div class="description">
      <p>«Карта відновлення» — інтерактивна мапа зруйнованих і відбудованих об'єктів в Україні для моніторингу коштів
        на відновлення.</p>
      <p>Застосунок виконаний за принципом SSR. В якості бандлера викорисовувався Vite. </p>
      <p>Має окрему панель налаштувань доступності вівповідно до сучасних вимог за специфікаціями WCAG, EAA, a11y.</p>
    </div>
    <div class="tools">
      <h4>Інструменти та технології</h4>
      <ul>
        <li>Nuxt.js</li>
        <li>Vue 3 / Composition API</li>
        <li>Pinia</li>
        <li>i18n</li>
        <li>HTML5 semantic / SCSS</li>
        <li>TypeScript</li>
        <li>Leaflet / MarkerCluster</li>
        <li>LightGallery</li>
        <li>Vue Router</li>
        <li>Prozorro API integration</li>
        <li>Middleware API</li>
        <li>Налаштування доступності</li>
      </ul>
    </div>
  </div>
</template>