<section id="projects">
  <div class="wrap">
    <div class="section-head">
      <h2>Проєкти</h2>
    </div>

    <div class="projects-grid">
      <load src="src/components/projects/reukraine.html" />
      <load src="src/components/projects/rwc.html" />
      <load src="src/components/projects/shtab.html" />
      <load src="src/components/projects/seorgua.html" />
      <load src="src/components/projects/tdl.html" />
      <load src="src/components/projects/socbusiness.html" />
      <load src="src/components/projects/enfys.html" />
      <load src="src/components/projects/paretto.html" />
      <load src="src/components/projects/egmont.html" />


      <div class="project-card panel">
        <span class="tick tl"></span><span class="tick br"></span>
        <div class="project-img">
          <img src="./src/assets/images/projects/amsaan/main-preview.png" alt="">
        </div>
        <div class="project-content">
          <h3 class="project-org">Amsaan, ОАЕ</h3>
          <div class="project-link">
            <a href="https://amsaan.com/" target="_blank" rel="noopener">amsaan.com</a>
          </div>
          <p>Міжнародна платформа інклюзивних технологій для спілкування з нечуючими людьми: продукти, партнери,
            медіа-розділ, багатомовний інтерфейс (en/ar).</p>
          <div class="stack-tags"><span>Custom CMS</span><span>Інформаційний сайт</span><span>Багатомовний</span>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>