<section id="projects">
  <div class="wrap">
    <div class="section-head">
      <h2>Проєкти</h2>
    </div>

    <div class="projects-grid">
      <load src="src/components/projects/reukraine.html" />
      <load src="src/components/projects/rebuild.html" />
      <load src="src/components/projects/rwc.html" />
      <load src="src/components/projects/shtab.html" />
      <load src="src/components/projects/cargo.html" />
      <load src="src/components/projects/seorgua.html" />
      <load src="src/components/projects/tdl.html" />
      <load src="src/components/projects/socbusiness.html" />
      <load src="src/components/projects/enfys.html" />
      <load src="src/components/projects/paretto.html" />
      <load src="src/components/projects/egmont.html" />
      <load src="src/components/projects/amsaan.html" />
    </div>
  </div>
</section>