<section id="projects">
  <div class="wrap">
    <div class="section-head">
      <h2>Projects</h2>
    </div>

    <div class="projects-grid">
      <load src="src/components/en/projects/reukraine.html" />
      <load src="src/components/en/projects/rebuild.html" />
      <load src="src/components/en/projects/rwc.html" />
      <load src="src/components/en/projects/shtab.html" />
      <load src="src/components/en/projects/cargo.html" />
      <load src="src/components/en/projects/seorgua.html" />
    </div>
    <div class="projects-more-wrap">
      <button type="button" id="show-all-projects" class="btn">Show All</button>
    </div>
    <div class="projects-grid" id="all-projects">
      <load src="src/components/en/projects/tdl.html" />
      <load src="src/components/en/projects/socbusiness.html" />
      <load src="src/components/en/projects/enfys.html" />
      <load src="src/components/en/projects/paretto.html" />
      <load src="src/components/en/projects/egmont.html" />
      <load src="src/components/en/projects/amsaan.html" />
    </div>
  </div>
</section>